<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <title>Education </title>

    
    <style>
       

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.container {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
}

.row {
    margin: 10px 0;
}

.column {
    background-color: rgb(99, 190, 190);
    display: table-cell;
    padding: 10px;
    width: 33.333333%;
    text-align: center;
    color: floralwhite;
    vertical-align: middle;
    border-right: 10px solid #fff;
}
    </style>
    
</head>

<body>

    
      
    <div class="container">
        <div class="row">
            <div class="column">
                
                <h1 style="color: black;">STOCK WEBINARS</h1>
                <h1 style="color:rgb(27, 25, 25); font:1.5cm bold;">>></h1>
                <br>
                <br>
                <br>
                <nav style="font-weight:bold;margin-left:5%;margin-top: 30% ;font-size:50px">
        <a href="/">HOME</a>
    </nav>
            </div>
            <div class="column">
                <a href="https://www.techsmith.com/blog/record-webinar/">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXcU8r4iUztymbjvEIHvjugUc7LNTYq0zIGw&usqp=CAU" width="190px">
                </a>
                <h2 style="background-color:rgb(45, 25, 49);">TechSmith</h1>
                    <p style="background-color: rgb(73, 71, 71);">
                        Whether you want to learn how to record a webinar for your own reference later, or to share the content with others, this tutorial will show you how it’s done.
                    </p>
                    <a href="https://www.techsmith.com/blog/record-webinar/">References</a>
            </div>
            <div class="column">
                <a href="https://www.elearnmarkets.com/?utm_source=microsoft.com&utm_medium=cpc&utm_campaign=branding-search&msclkid=debe7ee037e7136a5ef41f71c028e666">
                    <img src="https://qph.fs.quoracdn.net/main-thumb-370390221-200-qqwovkjxkbolbbguvhdtbutwezbzgkbk.jpeg" ></a>
                <h2 style="background-color:rgb(45, 25, 49);">elearnmarkets</h1>
                    <p style="background-color:rgb(73, 71, 71) ;"> The Website provides users with courses and learning material with relation to finance. The User shall have the option of choosing the study material and the courses that they wish to have access and to purchase.

                    </p>
                    <a href="https://www.elearnmarkets.com/?utm_source=microsoft.com&utm_medium=cpc&utm_campaign=branding-search&msclkid=debe7ee037e7136a5ef41f71c028e666">References</a>
            </div>
            <div class="column">
                <a href="https://www.hdfcsec.com/upcoming-webinar-hdfc-securities">
                    <img src="https://3.bp.blogspot.com/-Enzwg4-7x0c/UsbRPXJaFhI/AAAAAAAAFME/d1ogcDz_B3c/s1600/HDFC+Securities.jpg">
                </a>
                <h2 style="background-color:rgb(45, 25, 49);">HDFC Securities</h1>
                    <p style="background-color: rgb(73, 71, 71);">Presenting an all new knowledge centre series of webinars & concalls, dedicated to assisting investors at every step in the investment market. Whether looking for investment strategies, browsing through latest market trends, picking
                        the best financial product for investment, our webinars offer useful information for all.</p>
                    <a href="https://www.hdfcsec.com/upcoming-webinar-hdfc-securities">References</a>
            </div>
            <div class="column">
                <a href="https://www.indiratrade.com/webinar">
                    <img src="https://media-exp1.licdn.com/dms/image/C510BAQH_TKapnyOcvQ/company-logo_200_200/0?e=2159024400&v=beta&t=tUcpCsB2GL-IcLbZ1fkrIVkY7CyeDDqRscoCHtmW70k">
                </a>
                <h2 style="background-color:rgb(45, 25, 49);">Indira</h1>
                    <p style="background-color: rgb(73, 71, 71);">
                        One widely used avenue for reaping a reasonable return on investments is speculating in the equity market trading. As the saying goes, risk and reward go hand in hand. Here, one octant point is that one should never be wary of taking a loss in its stride.
                    </p>
                    <a href="https://www.indiratrade.com/webinar">References</a>
            </div>
            <div class="column">
                <a href="https://speedtrader.com/webinars/">
                    <img src="http://www.brokerage-review.com/images/customers/SpeedTrader.jpg">
                </a>
                <h1 style="background-color:rgb(45, 25, 49);">SPEEDTRADER</h1>
                <p style="background-color: rgb(73, 71, 71);">
                    SpeedTrader is one of the key brokers in our broker review targeting Day Traders with their services. So, what do day traders look for?</br>
                    1.Direct Market Access (DMA)</br>
                    2.Fast Order Execution</br>
                    3.Low per Share Commissions Structures</br>
                    Well, SpeedTrader has all of this and a little more.
                </p>
                <a href="https://speedtrader.com/webinars/">References</a>
            </div>
            <div class="column">
                <a href="https://marketsmithindia.com/mstool/webinar.jsp">
                    <img src="https://www.newswire.com/files/5c/64/dcfb9f033c5ea09601b1a0544c05.jpg">
                </a>
                <h1 style="background-color:rgb(45, 25, 49);">MarketSmith</h1>
                <p style="background-color: rgb(73, 71, 71);">
                    An investing app for Android smartphones, is built on a method with a 50-year history of portfolio outperformance. Its robust design delivers quantitative and qualitative information to guide you in finding strong equities, evaluating them, and timing
                    buys and sells on the Indian stock exchange.
                </p>
                <a href="https://marketsmithindia.com/mstool/webinar.jsp">References</a>
            </div>
            <div class="column">
                <a href="https://investarindia.com/education/upcoming-live-webinars">
                    <img src=" https://play-lh.googleusercontent.com/b68eP3jzK35G8qYbe0yxU9r7ra3eUjR7kN2d0B9cuU-VhzYmYxPvNQy3Ro8w61g2lIk=s180">
                </a>
                <h1 style="background-color:rgb(45, 25, 49);">INVESTAR</h1>
                <p style="background-color: rgb(73, 71, 71);">
                    Investar Lite Edition is a free for learners of Technical Analysis who are just starting out in Technical Analysis /Investing /Trading.</br>
                    It has basic Technical Indicators and Scans with limited drawing tools to help you get started.
                </p>
                <a href="https://investarindia.com/education/upcoming-live-webinars">References</a>
            </div>
            <div class="column">
                <a href="https://stockedge.com/Webinars">
                    <img src="https://www.adigitalblogger.com/wp-content/uploads/Stockedge_logo-compressed.jpg ">
                </a>
                <h1 style="background-color:rgb(45, 25, 49);">STOCK EDGE</h1>
                <p style="background-color: rgb(73, 71, 71);">
                    Get access to premium features of the StockEdge Platform. Take advantage of Readymade Thematic Watchlists, Advanced Fundamental and Technical scans, Combination Scans, Interactive EdgeChart and an AdFree Experience on the StockEdge Platform for the next
                    1 Year.
                </p>
                <a href="https://stockedge.com/Webinars">References</a>
            </div>

        </div>

    </div>

</body>

</html>